<div id="">
    <img src="images/about-hero.jpg" />
    <p>
        Demo AngularJS Blog Platform Application
    </p>

    <p>
        Developed By Quinntyne Brown - Senior Web Developer, Toronto, ON

        <ul>
            
            <li><a href="https://twitter.com/Quinntyne" target="_blank">@Quinntyne</a></li>

            <li><a>quinntynebrown@gmail.com</a></li>

            <li><a href="http://www.learningoriented.com" target="_blank">www.learningoriented.com</a></li>

            <li><a>https://github.com/QuinntyneBrown/MyBlog</a></li>

            <li><a href="https://ca.linkedin.com/pub/quinntyne-brown/29/307/158" target="_blank">LinkedIn</a></li>

        </ul>

    </p>

    <ul>

        <li><a>AngularJS</a></li>

        <li><a>Web API</a></li>

        <li><a>Entiy Framework</a></li> 

        <li><a>Jwt Tokens</a></li>
        
    </ul>


</div>