<div id="">

    <p>
        Demo app to demo straight a full scale angular app using:
    </p>

    <ul>

        <li><a>AngularJS</a></li>

        <li><a>Web API</a></li>

        <li><a>Entiy Framework</a></li> 

        <li><a>Jwt Tokens</a></li>
        
    </ul>

    <p>
        Developed By Quinntyne Brown - Senior Web Developer, Toronto, ON

        <ul>

            <li><a>quinntynebrown@gmail.com</a></li>

            <li><a>@Quinntyne</a></li>

            <li><a>https://github.com/QuinntyneBrown</a></li>

            <li><a>https://github.com/QuinntyneBrown/MyBlog</a></li>

            <li><a>www.learningoriented.com</a></li>
        
        </ul>
        
    </p>
</div>