<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="app" ng-class="{{ configuration.theme }}">
<head>
    <title core-title> ngBlog </title>
    <script src="scripts/prefixfree.js"></script>
    <link href="app.css" rel="stylesheet" />
    <base href="/">
</head>
<body data-ng-class="{ 'admin': isAdmin, 'inViewTransition':  inViewTransition }">

    <div id="overlay" data-ng-if="inViewTransition">

    </div>
    <div id="container">

        <common-header></common-header>

        <div id="view-container">

            <admin-menu data-ng-if="isAdmin"></admin-menu>

            <header role="banner" data-ng-if="!isAdmin">
                <h1>{{ ::configuration.name }}</h1>
            </header>

            <div id="view" ng-view=""></div>

            <div style="clear:both;"></div>

        </div>

    </div>

    <script src="scripts/underscore-min.js"></script>
    <script src="scripts/moment.min.js"></script>
    <script src="scripts/jquery-2.1.1.min.js"></script>
    <script src="scripts/tinymce/tinymce.min.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-sanitize.min.js"></script>
    <script src="scripts/ng-infinite-scroll.min.js"></script>
    <script src="uiTinyMCE/uiTinyMCE.js"></script>
    <script src="app.js"></script>

</body>
</html>
