<div>

    
    <hgroup>
        <h1 data-ng-show="model.id > 0">Edit Article</h1>
        <h1 data-ng-hide="model.id">Create Article</h1>
    </hgroup>


    <form data-ng-submit="save()" novalidate>
        <div>

            <label>Title</label>

            <input data-ng-model="model.title" />

        </div>

        <div>
            <label>Body</label>

            <textarea ui-tinymce data-ng-model="model.htmlBody" />
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>