<div class="component">

    <hgroup>
        <h1 data-ng-show="viewModel.entity.id > 0">Edit Article</h1>
        <h1 data-ng-hide="viewModel.entity.id">Create Article</h1>
    </hgroup>


    <form novalidate>
        <div class="form-group">

            <label>Title</label>

            <input data-ng-model="viewModel.entity.title" class="form-control" />

        </div>

        <div class="form-group">

            <label>Excerpt</label>

            <textarea ui-tinymce data-ng-model="viewModel.entity.htmlExcerpt" />
        </div>

        <div class="form-group">
            <label>Body</label>

            <textarea ui-tinymce data-ng-model="viewModel.entity.htmlBody" />
        </div>

        <div>
            <input type="button" data-ng-click="viewModel.approve()" value="Approve" class="btn btn-lg" />

            <input type="button" data-ng-click="viewModel.publish()" value="Publish" class="btn btn-lg" />

            <input type="button" data-ng-click="viewModel.remove()" value="Delete" class="btn btn-lg" />

            <input type="submit" data-ng-click="viewModel.save()" value="Save" class="btn btn-lg" />
        </div>
    </form>
</div>