<div class="component" id="admin-menu">

    <div>

        <ul class="nav-text">

            <li class="divider">ARTICLES</li>

            <li><a href="#/admin/article/create">Create Article</a></li>

            <li><a href="#/admin/articles">Articles</a></li>

        </ul>

    </div>

    <div>

        <ul class="nav-text">

            <li class="divider">USERS</li>

            <li><a href="#/admin/article/create">Create Users</a></li>

            <li><a href="#/admin/articles">Users</a></li>

        </ul>

    </div>

    <div>

        <ul class="nav-text">

            <li class="divider">CONFIGURATION</li>

        </ul>


    </div>


</div>