#admin-menu {
    position:relative;
    float:left;
    width:200px;
    background-color: #7CC1DE;
    color:#fff;
    height:100%;
}

.nav-text a {
    padding: 2px 30px;
    transition: all 0.3s ease 0s;
}

.nav-text a:hover {
    color:#fff;
}

.divider {
    padding: 10px 30px 5px 30px;
}

#admin-menu.ng-enter {
        transition: all 0.5s linear;
    opacity: 0;
}

#admin-menu.ng-enter-active {
     opacity: 1;
}