<div>

    <hgroup>
        <h1>Sign In</h1>
    </hgroup>

    <form name="signInForm" id="sign-in-form" data-ng-submit="tryToSignIn()" novalidate>
        <div>
            <label>
                Username
            </label>
            <input data-ng-model="model.username" type="text" />
        </div>

        <div>
            <label>
                Password
            </label>
            <input data-ng-model="model.password" type="password" />
        </div>

        <div>
            <input type="submit" value="sign in" />
        </div>

        <div>
            <input type="checkbox" data-ng-model="model.rememberMe"/>
            <a>Remember me</a>
        </div>
    </form>
</div>